header{
  height: 8rem;
  text-align: center;
  font-size: 2rem;
  background-image: url("./photosSrc/code-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-component{
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  top: 1.5rem;
  right: 1.5rem;
  width: fit-content;
}

h1,h2,h4,h5{
  text-align: center;
  color: rgb(0, 0, 130);
}

h4{
  padding: 0.2rem;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.wrapper{
  width: 45%;
}

.img-container{
  display: inline-block;
  width: 45%;
}

#canvasfor-googlemap{
  margin-left: 1rem;
  display: inline-block;
  width: 45%;
}

img{
  width: 100%;
}

iframe{
  width: 100%;
}

a{
  color: rgb(0, 20, 135);
  text-decoration: none;
}

a:hover{
  font-weight: 600;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .wrapper{
      width: 95%;
  }
}